.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .scanner-card {
    width: 95%;
    .scanner-grid {
      width: 100%;
      .scanned-input {
        border: 1px solid var(--ion-color-primary);
        border-radius: 5px;
      }
    }
  }

  .scanner-card-scanned-waybill {
    width: 95%;
  }

  .scanner-scan-button {
    width: 100%;
  }

  .scanner-scanned-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;

    .scanned-item {
      height: 35px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
