//TEXT STYLES
$wsHugeFontSize: 54px;
$wsHugeFontWeight: 500;
$wsHugeLineHeight: 63px;

$wsExtraHugeFontSize: 108px;
$wsExtraHugeFontWeight: 500;

$wsH1FontSize: 25px;
$wsH1FontWeight: 700;
$wsH1LightFontWeight: 400;
$wsH1LineHeight: 34px;

$wsH2FontSize: 20px;
$wsH2FontWeight: 700;
$wsH2LineHeight: 27px;

$wsH3FontSize: 18px;
$wsH3FontWeight: 400;
$wsH3FontWeightBold: 700;
$wsH3LineHeight: 25px;

$wsH4FontSize: 16px;
$wsH4FontWeight: 500;
$wsH4FontWeightBold: 700;
$wsH4LineHeight: 19px;

$wsH5FontSize: 13px;
$wsH5FontWeight: 500;
$wsH5BoldFontWeight: 700;
$wsH5LineHeight: 15px;

$wsH6FontSize: 11px;
$wsH6SmallFontSize: 10px;
$wsH6XSmallFontSize: 8px;
$wsH6FontWeight: 400;
$wsH6BoldFontWeight: 700;
$wsH6LineHeight: 14px;

$wsBodyFontSize: 14px;
$wsBodyFontWeight: 400;
$wsBodyBoldFontWeight: 700;
$wsBodyLineHeight: 19px;

$wsParagraphFontSize: 12px;
$wsParagraphFontWeight: 400;
$wsParagraphFontWeightMedium: 500;
$wsParagraphFontWeightBold: 700;
$wsParagraphLineHeight: 16px;
