.order-options-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .selected-date-input {
    max-width: 150px;
    border: 2px solid var(--ion-color-primary);
    border-radius: 5px;
    height: 40px;
  }
  .add-button {
    height: 40px;
  }
}

.order-grid {
  .order-table-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status-checkbox {
    --inner-padding-start: none;
  }

  .order-table-header {
    background-color: var(--ion-color-primary);
  }
}
